<p>user works!</p><app-header></app-header>
<div class="conteudo">
  <div class="row user-row-card">
    <div class="card user-card-structure">
      <div class="card-header">
        <h3>{{user.name}}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <img class="card-img-top" [src]="user.avatarUrl" alt="Imagem de capa do card">
          </div>
          <div class="col-8">
            <p><b>ID:</b> {{user.id}}</p>
            <p><b>Login:</b> {{user.login}}</p>
            <p><b>Localização:</b> {{user.location}}</p>
            <p><b>Quantidade repositorios públicos:</b> {{user.publicRepos}}</p>
            <p><b>Seguidores:</b> {{user.followers}}</p>
            <p><b>Seguindo:</b> {{user.following}}</p>
            <p><b>Data de criação:</b> {{user.DateCreated | localDateTime}}</p>
            <p><b>Data última atualização:</b> {{user.DateUpdated | localDateTime}}</p>
          </div>
        </div>
        <br>
        <blockquote class="blockquote mb-0">
          <footer class="blockquote-footer">GitHub:<cite title="Título da fonte"> {{user.urlGitHUb}}</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
