.card-structure {
  width: 20rem;
}

.row-card {
  margin-top: 30px;
}

.card-button-repositorios {
  margin: 15px 15px 0 20px;
}

.card-button-repositorios-mais-visitados {
  margin-top: 15px;
}

.card-text-github {
  font-size: 0.95rem;
}

a.user-name:link,
a.user-name:visited {
  color: #343a40;
  text-decoration: none;
}

a.liuser-namenkum:hover {
  color: #8b8b8b;
  text-decoration: underline;
}
